extends layout

block prescripts
  link(rel='stylesheet', href='/stylesheets/play.css')
  link(rel='stylesheet', href='css/jquery-ui.min.css')
  script(src='https://code.jquery.com/jquery-2.2.0.min.js', type='text/javascript')
  script(src='javascript/jquery-ui.min.js')
  script(src='javascript/hexagons.js')
  script(src='javascript/map.js')
  script(src='javascript/cartography.js')
  script(src='javascript/population.js')
  script(src='javascript/resource.js')

block content
  title HexMech Board Game
  #die1.dice 0
  #die2.dice 0
  button(onclick='rollDice()') Roll Dice
  h2#status(style='clear:bottom;')
  .container
    .header
      button#endTurnBtn(type='button')
        span End Turn
    .mapviewport
      .content
        canvas#hexmap(width='1660', height='1500')
    .footer

block postscripts

